apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-nodejs-estgtrhz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-nodejs-estgtrhz:a353d13977d0826bcba463bb9d7a06b07675d7f2@sha256:a42a1424a1dc441d6037e1989e1e1c05fb71fa15002e591ca86ab2a775001c7c
          name: container-image
